{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">

          {{ range .Site.Params.footer.social }}
            <li><a href="{{ .link }}" title="{{ .title }}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}

        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">

          {{ range .Site.Params.footer.quicklinks }}
            <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
          {{ end }}

        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false">
  </script>
  <script type="text/javascript">
    require(["mojo/signup-forms/Loader"], function(L) {
      L.start({
        "baseUrl":"mc.us18.list-manage.com",
        "uuid":"{{ .Site.Params.mailchimp.uuid }}",
        "lid":"{{ .Site.Params.mailchimp.lid }}"
      }) 
    })
    </script>
</footer>
